body{
	background-color : white;
	color : black;
	padding-left : 20px;
	background-image: url(https://avatars2.githubusercontent.com/u/40446);
	background-repeat: no-repeat;
	background-position-x: right;
}

h1{
	margin-left : -20px;
}

h2{
	margin-left : -10px;
	text-decoration : underline;
}

dl{
	padding : 0px 0px 0px 5px;
	border : solid black;
	border-width : 0px 0px 0px 1px;
}

dt{
	padding : 5px;
	border : solid black;
	border-width : 0px 0px 0px 1px;	
}
